[Desktop Entry]
Version=1.0
Type=Application
Name[ar]=Zathura (Tabbed)
Name[ca]=Zathura (Tabbed)
Name[cs]=Zathura (Tabbed)
Name[de]=Zathura (Tabbed)
Name[el]=Zathura (Tabbed)
Name[eo]=Zathura (Tabbed)
Name[es]=Zathura (Tabbed)
Name[es_CL]=Zathura (Tabbed)
Name[fr]=Zathura (Tabbed)
Name[he]=Zathura (Tabbed)
Name[id_ID]=Zathura (Tabbed)
Name[it]=Zathura (Tabbed)
Name[lt]=Zathura (Tabbed)
Name[nl]=Zathura (Tabbed)
Name[no]=Zathura (Tabbed)
Name[pl]=Zathura (Tabbed)
Name[pt_BR]=Zathura (Tabbed)
Name[ru]=Zathura (Tabbed)
Name[sv]=Zathura (Tabbed)
Name[ta_IN]=Zathura (Tabbed)
Name[tr]=Zathura (Tabbed)
Name[uk_UA]=Zathura (Tabbed)
Name=Zathura (Tabbed)
Comment[ar]=عارض وثائق الحد الأدنى
Comment[ca]=Un visualitzador de documents minimalista
Comment[cs]=Jednoduchý prohlížeč dokumentů
Comment[de]=Ein minimalistischer Dokumenten-Betrachter
Comment[el]=Ένας ελαφρύς προβολέας κειμένων
Comment[eo]=Malpeza dokumento spektanto
Comment[es]=Un visor de documentos minimalista
Comment[es_CL]=Un visor de documentos minimalista
Comment[fr]=Un visionneur de document minimaliste
Comment[he]=מציג מסמכים מינימליסטי
Comment[id_ID]=Pembaca dokumen minimalis
Comment[it]=Un visualizzatore di documenti minimalista
Comment[lt]=Paprasta dokumentų skaitytuvė
Comment[nl]=Een minimalistisch documentweergaveprogramma
Comment[no]=En minimalistisk dokumentleser
Comment[pl]=Minimalistyczna przeglądarka dokumentów
Comment[pt_BR]=Um visualizador de documentos minimalista
Comment[ru]=Минималистичный просмотрщик документов
Comment[sv]=En minimalistisk dokumentvisare
Comment[tr]=Minimalist bir belge görüntüleyicisi
Comment[uk_UA]=Простий переглядач документів
Comment=A minimalistic document viewer, with tabs
Exec=tabbed -c zathura -e %U
# Translators: Icon of the desktop entry.
Icon=org.pwmt.zathura
Terminal=false
Categories=Office;Viewer;
# Translators: Search terms to find this application. Do not translate or
# localize the semicolons. The list must also end with a semicolon.
Keywords[cs]=PDF;PS;PostScript;DjVU;dokument;představení;prohlížeč;
Keywords[de]=PDF;Ps;PostScript;DjVU;Dokumente;Presentation;Betrachter;
Keywords[es]=PDF;PS;PostScript;DjVU;documento;presentación;visor;
Keywords[fr]=PDF;PS;PostScript;DjVU;document;présentation;visionneur;
Keywords[it]=PDF;PS;PostScript;DjVU;documenti;presentazioni;lettore;
Keywords[nl]=PDF;PS;PostScript;DjVU;document;presentatie;weergave;
Keywords[ru]=PDF,PS,PostScript,DjVU,документ,презентация,просмотрщик;
Keywords[sv]=PDF;PS;PostScript;DjVU;dokument;presentation;visare;
Keywords[tr]=PDF;PS;PostScript;DjVU;dosya;sunum;görüntüleyici
Keywords[uk_UA]=PDF;PS;PostScript;DjVU;документ;презентація;переглядач;
Keywords=PDF;PS;PostScript;DjVU;document;presentation;viewer;
